@font-face {
    font-family: 'Funfruit';
    src: url('~@/assets/fonts/Funfruit-Regular.eot');
    src: url('~@/assets/fonts/Funfruit-Regular.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Funfruit-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/Funfruit-Regular.woff') format('woff'),
        url('~@/assets/fonts/Funfruit-Regular.ttf') format('truetype'),
        url('~@/assets/fonts/Funfruit-Regular.svg#Funfruit-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}