@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;700&display=swap');
@font-face {
    font-family: 'Funfruit';
    src: url('~@/assets/fonts/Funfruit-Regular.eot');
    src: url('~@/assets/fonts/Funfruit-Regular.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/fonts/Funfruit-Regular.woff2') format('woff2'),
        url('~@/assets/fonts/Funfruit-Regular.woff') format('woff'),
        url('~@/assets/fonts/Funfruit-Regular.ttf') format('truetype'),
        url('~@/assets/fonts/Funfruit-Regular.svg#Funfruit-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BadTyp';
    src: url('~@/assets/fonts/BadTyp.woff2') format('woff2'),
        url('~@/assets/fonts/BadTyp.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}